sgml-dtd-xml/p04-xml-shema/p08-xml-shema-prostor-imena/z01-porudzbine/musterija-struktura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cmn="http://uvit.math.rs/zajednicko" 
targetNamespace="http://uvit.math.rs/musterija" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified">
    <xs:import schemaLocation="zajednicko-struktura.xsd" namespace="http://uvit.math.rs/zajednicko" />
    <xs:complexType name="MusterijaType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="DeliveryAddress" type="cmn:AdresaType" />
            <xs:element name="BillingAddress" type="cmn:AdresaType" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>